In [1]:
import numpy as np
import glob
import pandas as pd
import re

In [2]:
# get data file names
path ='./all_predictions'
filenames = glob.glob(path + "/*.csv")

dfs = []
for filename in filenames:
    dfs.append(pd.read_csv(filename))

# Concatenate all data into one DataFrame
big_frame = pd.concat(dfs, ignore_index=True)

In [3]:
df = big_frame.drop('count', axis=1)

In [4]:
df.to_csv('alsResult_allPrediction.csv', index=False) 
df

          user_id  product_id  prediction
0          106797         259    0.892925
1          117896         259    0.745863
2            6364         259    1.108087
3           37818         512    3.140496
4          114859         512    2.298851
...           ...         ...         ...
13307654   145351       49199    0.667402
13307655   162217       49199    0.513662
13307656    14528       49199    1.139730
13307657   155174       49199    0.664871
13307658    25158       49199    0.757786

[13307659 rows x 3 columns]